@using BlazingPizza.Data;
@using BlazorTestProject.Components.Shared.Card

<Card>
  <div class="pizza-card" style="background-image:url('@Pizza.ImageUrl')">
    <div class="card-info">
      <span class="card-title">@Pizza.Name</span>
      <span class="card-description">@Pizza.Description</span>
      <span class="card-price">@Pizza.Price</span>
    </div>
  </div>
</Card>

@code {
  [Parameter]
  public required Pizza Pizza { get; set; }
}