.todo-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.todo-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 40px;
  width: 40px;
  background-color: #eee;
  border-radius: 2px;
}
.todo-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}
.todo-checkbox input:checked ~ .checkmark {
  background-color: #2196f3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.todo-checkbox input:checked ~ .checkmark:after {
  display: block;
}
.todo-checkbox .checkmark:after {
  left: 14px;
  top: 4px;
  width: 12px;
  height: 24px;
  border: solid white;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
