@page "/pizza"
@attribute [StreamRendering]

@using BlazingPizza.Data;
@using BlazorTestProject.Components.Pizza.PizzaCard
@using BlazorTestProject.Services;

@inject IPizzaService PizzaService;

<main class="pizza-main">
  <h1>Blazing Pizzas</h1>
  @if (todaysPizzas == null)
  {
    <p><em>Loading...</em></p>
  }
  else
  {
    <div class="pizza-cards-grid">
      @foreach (var pizza in todaysPizzas)
      {
        <PizzaCard Pizza="pizza" />
      }
    </div>
  }
</main>

@code {
  private Pizza[]? todaysPizzas;
  protected override async Task OnInitializedAsync()
  {
    // Simulate asynchronous loading to demonstrate streaming rendering
    await Task.Delay(500);

    todaysPizzas = await PizzaService.GetPizzasAsync();
  }
}
